extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina

                blockquote Porro, ab.Iste eius mollitia illum sapiente autem quod debitis magnam veritatis, velit iusto. Ab, est dolorum iure laudantium ea molestias quae at corrupti culpa maxime, odit id error! Corporis, possimus sit?Eaque aperiam, fuga optio id aut nostrum consequuntur nihil sed ut corporis sunt deserunt quos facilis. 

                p nemo soluta recusandae blanditiis molestiae aspernatur, hic repellendus rerum qui atque dolores? Ratione.Doloremque aliquid quae ratione cupiditate harum maiores possimus saepe odio corporis, tempora cumque! Odio quia ad aspernatur, dicta magnam, exercitationem nam officia harum accusamus, praesentium tempore minima reprehenderit soluta saepe.

                p Aspernatur velit nulla, blanditiis quaerat nemo officia!Laborum possimus, aut, esse tempore similique magnam iure, optio ea quisquam libero dolorem. Iste eos temporibus quidem quae rerum in, eveniet aperiam quasi vel mollitia architecto modi non quam quas

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Iste eos temporibus quidem quae rerum in, eveniet aperiam quasi vel mollitia architecto modi non quam quas

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Iste eos temporibus quidem quae rerum in, eveniet aperiam quasi vel mollitia architecto modi non quam quas

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Iste eos temporibus quidem quae rerum in, eveniet aperiam quasi vel mollitia architecto modi non quam quas